ol.progtrckr {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

    ol.progtrckr li {
        display: table-cell;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li {
        width: 49%;
    }

    ol.progtrckr[data-progtrckr-steps="3"] li {
        width: 33%;
    }

    ol.progtrckr[data-progtrckr-steps="4"] li {
        width: 24%;
    }

    ol.progtrckr li.progtrckr-done {
        color: cornflowerblue;
        border-bottom: 4px solid;
    }

    ol.progtrckr li.progtrckr-todo {
        color: silver;
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }

    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }

    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }

    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }

.left {
    top: 10px;
    float: left;
    margin-right: 160px;
}

.right {
    top: 10px;
    float: left;
    height: 300px;
}

.stepbox {
    position: absolute;
    right: 0;
    left: 0;
    margin-bottom: 20px;    
}

.stepboxcontent{
    margin-top: 30px;
}

.animallist {
    border: solid 2px lightgray;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 3px;
    align-items:center;
}

.animaltekst{
    text-align: center;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.animallistDisable {
    border: solid 2px lightgray;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 3px;
    align-items: center;
    background-color: darkgray;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.stap3Form {
    margin-top: 60px;
}