
@{
    ViewBag.Title = "Finish";
}

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-done">Accessoires</li>
        <li class="progtrckr-done">Gegevens</li>
        <li class="progtrckr-done">Bevestig</li>
    </ol>
</div>
<div class="finalPage">
    <h1>Bedankt voor de reservering!</h1>
    <img src="~/Resources/checkmark2.png" />
    <h2>Houd uw mail in de gaten voor de bevestiging.</h2>
</div>

