
@{
    ViewBag.Title = "Finish";
}

<h2>Finish</h2>

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-done">Accessoires</li>
        <li class="progtrckr-done">Gegevens</li>
        <li class="progtrckr-done">Bevestig</li>
    </ol>
</div>
