@model BeestjeOpJeFeestje.ViewModels.BoekingVM

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boek een beestje</h1>
    <p class="lead">Welkom bij 'Beestje op een feestje'. Hier kun je een of meerdere van onze dieren boeken voor op jou feestje! kies de dag van je feestje en volg de stappen om je beestje te boeken.</p>

</div>
<div class="col-lg-12">
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
    @using (@Html.BeginForm("Stap1", "Home"))
    {
        <input type="date" name="Date" />
        <p />
        <input type="submit" value="Boeken" class="btn btn-primary btn-lg">

    }
    <img src="~/Resources/field.png" align="right" />

</div>
