@model BeestjeOpJeFeestje.ViewModels.BoekingVM

<head>
    <link href="~/Content/steps.css" rel="stylesheet" />
</head>

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-todo">Accessoires</li>
        <li class="progtrckr-todo">Gegevens</li>
        <li class="progtrckr-todo">Bevestig</li>
    </ol>
</div>
<p/>
<div class="container">
    <div class="row">
        <div class="col-lg-6 left" style="border:solid 2px lightgray">
            <div class="stepbox col-sm-12" style="background-color: lightgray">
                <p>Stap 1 - Selecteer de gewenste beestjes</p>
            </div>
            <div class="stepboxcontent">
                @using (Html.BeginForm("Stap2", "Home"))
                {
                    for (int i = 0; i < Model.Beestjes.Count; i++)
                    {
                        <p>
                            @Html.CheckBoxFor(model => model.Beestjes[i].IsSelected)
                            @Html.HiddenFor(model => model.Beestjes[i].Id)
                            @Html.DisplayFor(model => model.Beestjes[i].Name)
                        </p>
                    }
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" name="BtnNext" value="Ga door naar stap 2" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-3 right" style="border:solid 2px lightgray">
          <div class="stepbox" style="background-color: lightgray">
              <p>Boeking</p>
          </div>
          <div class="stepboxcontent">
              <p>Datum: @Model.Date.ToString("dd/MM/yyyy")</p>
              <hr />
              <p>Beestjes:</p>
              <p>Geen beestjes geselecteerd</p>
              <hr />
              <p>Accessoires:</p>
              <p>Geen accessoires geselecteerd</p>
          </div>
          
        </div>
    </div>
</div>


