@model BeestjeOpJeFeestje.ViewModels.BoekingVM

<head>
    <link href="~/Content/steps.css" rel="stylesheet" />
</head>

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-todo">Accessoires</li>
        <li class="progtrckr-todo">Gegevens</li>
        <li class="progtrckr-todo">Bevestig</li>
    </ol>
</div>

@using (Html.BeginForm("Stap2", "Home"))
{
    for (int i = 0; i < Model.Beestjes.Count; i++)
    {
    <p>
        @Html.CheckBoxFor(model => Model.Beestjes[i].IsSelected)
        @Html.HiddenFor(model => Model.Beestjes[i].Id)
        @Html.LabelFor(model => Model.Beestjes[i].Name)
    </p>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="BtnNext" value="Ga door naar stap 2" class="btn btn-default" />
        </div>
    </div>
}
