@model BeestjeOpJeFeestje.ViewModels.BoekingVM

<head>
    <link href="~/Content/steps.css" rel="stylesheet" />
</head>

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-done">Accessoires</li>
        <li class="progtrckr-done">Gegevens</li>
        <li class="progtrckr-done">Bevestig</li>
    </ol>
</div>

<div class="col-lg-12">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="BtnNext" value="Boeking bevestigen" class="btn btn-default" />
    </div>
</div>

