
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="finalPage">
        <h1>De pagina waar u naar op zoek bent bestaat niet of is verdwenen.</h1>
        <img src="~/Resources/error.png" />
        <h2>Probeer het opnieuw door de applicatie opnieuw op te starten.</h2>
    </div>
</body>
</html>
